@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color:black;
    list-style: none;
    text-decoration: none;
}

header {
    font-size: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: aliceblue;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#logo {
    width: 150px;
    height: auto;
}

#setlist {
    background-image: url(https://i.pinimg.com/originals/59/df/b6/59dfb699fd5e7cee59d69f376badef2f.jpg);
    background-size: cover;
    width: 500px;
    height: 1000px;
}

#comentario1 {
    background-color: grey;
    font-size: 15px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: black;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 10% 10%;
}

#comentario2 {
    background-color: grey;
    font-size: 15px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: black;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 10% 10%;
}

#comentario3 {
    background-color: grey;
    font-size: 15px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: black;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 10% 10%;
}

#comentario4 {
    background-color: grey;
    font-size: 15px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: black;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 10% 10%;
}

#comentario5 {
    background-color: grey;
    font-size: 15px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: black;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 10% 10%;
}

#comentario6 {
    background-color: grey;
    font-size: 15px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: black;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 10% 10%;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contant {
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width:768px){

    .footer-navigation {
        display: block;
    }

    .footer-list {
        margin-bottom: 50px;
    }

    li {
        color: #fff;
        font-family: 'Kdam Thmor Pro', sans-serif;
    }
    
    header {
        font-size: 30px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        color: aliceblue;
        height: 90px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    #setlist {

        background-image: url(https://i.pinimg.com/originals/59/df/b6/59dfb699fd5e7cee59d69f376badef2f.jpg);
        background-size: cover;
        width: 100%;
        margin-top: 100px;
    }

    .container {
        display: flex;
        flex-direction: column;
        row-gap: 100px;
    }

    .contant {
        display:grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}