@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*{margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration:none;
}

header {
    height: 90px;
    display:flex;
    align-items: center;
    width: 100%;
    justify-content:space-evenly;
    list-style: none;
    
}

#logo {
    width: 150px;
    height: auto;
}

#contato {
    list-style: none;
    color:aliceblue;
    font-size: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-objetos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;

}

#imagem-principal {
    background-image: url(https://preview.redd.it/2fcn9uzn1e791.jpg?width=640&crop=smart&auto=webp&s=44de287ec7fbb895094fafa54bd9a344c5b6d25e);
    background-size: cover;
    width: 500px;
    height: 1000px;
    border: #fff;
    
}

#container-cadastro{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 19px;
    color: #fff;

}

#titulo {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 30px;
    color: #fff;
}

#nome {
    color: #fff;
}

#email {
    color: #fff;
}

#telefone {
    color: #fff;
}

#title {
    color: #fff;
}

#mensagem {
    color: #fff;
}

#button {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 19px;
    background-color: red;
    cursor: pointer;
    border-radius: 10px;
    padding: 5%;
    width: 100%;
}

#button:hover {
    background-color: #fff;
    color: #000;
}

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.footer-navigation {
    display:none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px) {
    
    .footer-navigation {
        display:block;
    }

    .footer-list {
        margin-bottom: 50px;
    }

    li {
        color: #fff;
        font-family: 'Kdam Thmor Pro', sans-serif;
    }
    
    header{
        font-size: 30px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        color: aliceblue;
        height: 90px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .container-objetos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #imagem-principal {
        margin-bottom: 50px;
    }

    #button { width: 100%;}

}