@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color:black;
    list-style: none;
    text-decoration: none;
}

header {
    font-size: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: aliceblue;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#logo {
    width: 150px;
    height: auto;
}

.container-fotos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 50px;
    row-gap: 50px;
}

.foto1{
    background-image: url(https://media.gettyimages.com/id/1414352206/pt/foto/the-weeknd-performs-onstage-during-his-after-hours-til-dawn-tour-at-mercedes-benz-stadium-on.jpg?s=612x612&w=0&k=20&c=xiVf8sDTqj7e6luIxHd59IbJdoq32CvgP-WZHM11ZPI=);
    width: 300px;
    height: 500px;
    background-size: cover;
}

.foto2{
    background-image: url(https://media.gettyimages.com/id/1414354099/pt/foto/the-weeknd-performs-onstage-during-his-after-hours-til-dawn-tour-at-mercedes-benz-stadium-on.jpg?s=612x612&w=0&k=20&c=y3uhedC7A6-Q_ABMNx3vsecW9gLrjfv6pGUWNFh_hvQ=);
    width: 300px;
    height: 500px;
    background-size: cover;
}

.foto3{
    background-image: url(https://flodenver.com/gallery-the-weeknd-after-hours-til-dawn-tour/wknd4-tisfortroy/);
    width: 300px;
    height: 500px;
    background-size: cover;
}

.foto4{
    background-image: url(https://flodenver.com/gallery-the-weeknd-after-hours-til-dawn-tour/wknd1-tisfortroy/);
    width: 300px;
    height: 500px;
    background-size: cover;
}

.foto5{
    background-image: url(https://i2-prod.manchestereveningnews.co.uk/incoming/article27098982.ece/ALTERNATES/s615b/2_DBR_MEN_110623Weeknd_03JPG.jpg);
    width: 300px;
    height: 500px;
    background-size: cover;
}

.foto6{
    background-image: url(https://pbs.twimg.com/media/FyPzN2lWYAExFx7.jpg);
    width: 300px;
    height: 500px;
    background-size: cover;
}

.foto7{
    background-image: url(https://pbs.twimg.com/media/FxjmHIrWIAs5Bpy.jpg:large);
    width: 300px;
    height: 500px;
    background-size: cover;
}

.foto8{
    background-image: url(https://imgix.bustle.com/uploads/getty/2022/7/19/da5c6d50-5b10-447c-9c71-fa0bf4a90d29-getty-1409221650.jpg?w=414&h=621&fit=crop&crop=faces&auto=format%2Ccompress);
    width: 300px;
    height: 500px;
    background-size: cover;
}

.foto9{
    background-image: url(https://pbs.twimg.com/media/FzZl304WIAIXmcD.jpg);
    width: 300px;
    height: 500px;
    background-size: cover;
}

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.footer-navigation {
    display:none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width:768px) {

    .footer-navigation {
        display:block;
    }

    .footer-list {
        margin-bottom: 50px;
    }

    li {
        color: #fff;
        font-family: 'Kdam Thmor Pro', sans-serif;
    }
    
    header {
        font-size: 30px;
        font-family: 'Kdam Thmor Pro', sans-serif;
        color: aliceblue;
        height: 90px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
 
    .container-fotos {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .content {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 50px;
    }
    

    footer {
        height: 300px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
}